* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.full {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

/*-----------options------------*/
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.options>button {
    padding: 20px 50px;
}

/*----------join---------------*/
.join {
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.join-label {
    font-size: x-large;
}

.join-box>input {
    padding: 5px 5px;
}

.join-box>button {
    width: 100%;
    padding: 3px 20px;
}

/*----------host---------------*/
.host {
    display: flex;
    justify-content: center;
    align-items: center;
}

.host-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.host-label {
    font-size: x-large;
}

.host-box>input {
    padding: 5px 5px;
}

.host-box>button {
    padding: 3px 20px;
    width: 100%;
}

/*---------lobby-----------*/
.lobby {
    display: flex;
    flex-direction: column;
}

.item {
    padding: 5px;
    box-shadow: 0px 0px 2px 2px rgba(190, 190, 189, 0.5);
}

.item:hover {
    background-color: aliceblue;
}

.lobby-list {}

.lobby-list-main {
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 5px;
}

.lobby-title {
    font-size: 20px;
    padding: 4px 0px;
    text-align: center;
}

.game-panel {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}